body {
  margin: 0px;
  padding: 0px;
}
.image {
  height: 50px;
}
.link:hover {
  text-decoration: none;
  list-style: none;
}
.link {
  font-size: 20px;
}

.title {
  margin-top: 80px;
}

.active {
  background-color: lightslategray;
  color: whitesmoke;
  padding: 3px;
  border-radius: 5px;
}
li {
  list-style: none;
  color: white;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 60px;
}
.footer {
  margin-top: 130px;
}
