body {
  margin: 0px;
  padding: 0px;
}
.image {
  height: 50px;
}
.link:hover {
  text-decoration: none;
  list-style: none;
}
.link {
  font-size: 20px;
}

.title {
  margin-top: 80px;
}

.active {
  background-color: rgb(159, 219, 235);
  color: whitesmoke;
  padding: 3px;
  border-radius: 5px;
}
li {
  list-style: none;
  color: white;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 60px;
}
.footer {
  border-top: 1px solid grey;
}
.made-by {
  margin-left: 30%;
}
.g {
  margin-top: 7%;
}
.a {
  width: 600px;
}
.img {
  height: 90px;
}
.main {
  background-color: lightgray;
  height: 100vh;
}
label {
  margin-top: 15px;
}
.inp {
  width: 300px;
  padding: 6px;
}
.pic {
  width: 70px;
}
.delete {
  cursor: pointer;
}
button:disabled {
  cursor: no-drop;
}
